<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Intro SE331</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <style>
        .color-circle {
            width: 50px;
            height: 50px;
            margin-top: 8px;
            border: 2px solid #d8d8d8;
            border-radius: 50%;
        }

        .disabledButton {
            background-color: #d8d8d8;
            cursor: not-allowed;
        }

        .out-of-stock-image {
            filter: grayscale(100%);
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="nav-bar"></div>
        <div class="cart">Cart({{cart}})</div>
        <div class="product-display">
            <div class="product-container">
                <div class="product-image">
                    <img :src="image" :class="{'out-of-stock-image': !inStock }">
                </div>
            </div>
        </div>
        <div class="product-info">
            <h3 v-if="onSale" :style="{ color: 'red' }">The product is on sale !!</h3>
            <h1><a :href="productUrl">{{ title }}</a></h1>
            <button class="button" @click="toggleStock">Toggle Status</button>
            <div style="display: flex;">
                <p v-if="inStock && inventory > 10">In Stock</p>
                <p v-else-if="inStock && inventory <= 10">Almost out of stock</p>
                <p v-else>Out of Stock</p>
            </div>
            <ul>
                <li v-for="detail in details">{{detail}}</li>
            </ul>
            <div v-for="(variant,index) in variants" :key="variant.id" @mouseover="updateVariant(index)" 
                class="color-circle" :style="{backgroundColor: variant.color}">
            </div>
            <div style="display: flex;">
                <div v-for="size in sizes" style="margin-right: 10px;">{{size}}</div>
            </div>
            <button class="button" :disabled="!inStock" @click="addToCart" :class="{disabledButton: !inStock}">Add To Cart</button>
            <h2>{{des1}}</h2>
            <p>{{des2}}</p>
        </div>
    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>
</body>

</html>